<ul
  id="dashboard-menu"
  class="sidebar-menu"
  :class="{
  'is-active': $store.app.activeSidebar == 'dashboard',
  '': !$store.app.activeSidebar != 'dashboard'
}"
>
  <!--Menu item-->
  <li
    class="menu-item"
    @click="openSidebarMenu('dashboard-menu-1')"
    :class="{
      'active': $store.app.activeSidebarMenu == 'dashboard-menu-1',
      '': !$store.app.activeSidebarMenu != 'dashboard-menu-1'
  }"
  >
    <a class="menu-link" href="javascript:">
      <i class="iconify link-icon" data-icon="clarity:dashboard-outline-badged"></i>
      <span>Dashboards</span>
      <i class="iconify link-caret" data-icon="feather:chevron-down"></i>
    </a>
    <ul
      class="sub-menu"
      x-show="$store.app.activeSidebarMenu == 'dashboard-menu-1'"
      x-collapse
    >
      <!--Submenu item-->
      <li>
        <a class="sub-menu-item is-active" href="/">Main layout</a>
      </li>
      <!--Submenu item-->
      <li>
        <a class="sub-menu-item" href="blank.html">Blank page</a>
      </li>
    </ul>
  </li>
  <!--Menu item-->
  <li
    class="menu-item"
    @click="openSidebarMenu('dashboard-menu-2')"
    :class="{
      'active': $store.app.activeSidebarMenu == 'dashboard-menu-2',
      '': !$store.app.activeSidebarMenu != 'dashboard-menu-2'
  }"
  >
    <a class="menu-link" href="javascript:">
      <i class="iconify link-icon" data-icon="ph:lock-simple"></i>
      <span>Authentication</span>
      <i class="iconify link-caret" data-icon="feather:chevron-down"></i>
    </a>
    <ul
      class="sub-menu"
      x-show="$store.app.activeSidebarMenu == 'dashboard-menu-2'"
      x-collapse
    >
      <!--Submenu item-->
      <li>
        <a class="sub-menu-item" href="/">Main layout</a>
      </li>
      <!--Submenu item-->
      <li>
        <a class="sub-menu-item" href="blank.html">Blank page</a>
      </li>
    </ul>
  </li>
</ul>
